<div class="container">
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="username" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" />
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Sign in</button>
  </form>
</div>
